@model List<VinhUni.Dormitory.Models.Renter>;
    @{
    ViewData["Title"] = "Báo cáo chung";
    TempData["BackUrl"] = "/";
    var i = 0;
    }

    <div class="p-3">
        <div class="col-3">
            <form>
                <div class="form-inline">
                    <select name="type" class="form-control form-control-sm">
                        <option value="renter_debt">Người thuê nợ</option>
                        <option value="dormitory_info">Tình trạng phòng</option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm ml-2">Xem</button>
                </div>
            </form>
        </div>
    </div>
    <div class="p-3">
        <div class="card p-3">
            @if(Model != null){
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Số CMND</th>
                        <th>Điện thoại</th>
                        <th>Số hợp đồng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>@(++i)</td>
                        <td>@item.Lastname</td>
                        <td>@item.Firstname</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.IdentityCard</td>
                        <td>@item.PhoneNumber</td>
                        <td></td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
            }else {
            <div class="text-center">
                <h5>Không có dữ liệu</h5>
            </div>
            }
        </div>
    </div>