@{
Layout = null;
var Categories = ViewData["DormitoryType"];
var Areas = ViewData["Area"];
}
<div class="home-menu ml-2 p-3">
   <div class="form-group border-bottom pb-3 text-right">
      <a href="/dormitory/create" class="btn btn-primary btn-sm text-white"><i class="fa fa-plus"></i> Tạo
         phòng</a>
   </div>
   <div class="form-group">
      <label>Tìm kiếm:</label>
      <form action="/home">
         <div class="input-group">
            <input type="text" name="search" class="form-control form-control-sm"
               placeholder="Tên phòng, tên người ở..." />
            <div class="input-group-append">
               <button class="btn btn-primary btn-sm"><i class="fa fa-search fa-1x"></i> Tìm kiếm</button>
            </div>
         </div>
      </form>
   </div>
   <hr />
   <form action="/home">
      <div class="form-group">
         <label>Chọn khu vực:</label>
         <select name="area" class="form-control form-control-sm" asp-items="@Areas as List<SelectListItem>">
            <option value="0">--Tất cả--</option>
         </select>
      </div>
      <div class="form-group">
         <label>Chọn loại phòng:</label>
         <select name="dormitorytype" class="form-control form-control-sm"
            asp-items="@Categories as List<SelectListItem>">
            <option value="0">--Tất cả--</option>
         </select>
      </div>
      <div class="form-group">
         <label>Trạng thái:</label>
         <select name="status" class="form-control form-control-sm">
            <option value="null">--Tất cả--</option>
            <option value="true">Hoạt động</option>
            <option value="false">Khóa</option>
         </select>
      </div>
      <div class="form-group">
         <button class="btn btn-primary btn-sm btn-block">Lọc</button>
      </div>
   </form>
</div>