﻿@{
   ViewData["Title"] = "Truy cập bị từ chối";
}

<div class="container text-center p-5">
   <img src="images/logo.png" width="155" alt="Vinh University" />
   <br />
   <br />
   <span>Bạn không có quyền thực hiện thao tác này!</span>
   <br />
   <br />
   <a class="btn btn-primary btn-sm" href="/">Về trang chủ</a>
</div>