﻿@model IEnumerable<VinhUni.Dormitory.Models.Dormitory>
@{
   ViewData["Title"] = "Trang chủ";
}

<div class="home-app">
   <div class="form-row">
      <div class="col-9">
         <div class="row">
            @foreach (var item in Model)
            {
               <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
                  <a class="dormitory-item" href="/dormitory/@item.Id/view">
                     <span class="dormitory-title">P. @item.Name</span>
                     <br />
                     <i class="fa fa-home-heart home-icon @(item.Status ? "text-success" : "text-danger")"></i>
                     <span class="quick-view"><i class="fa fa-user-friends"></i> <i>@item.Hired/@item.Beds</i></span>
                  </a>
               </div>
            }
         </div>
      </div>
      <div class="col-3">
         <partial name="_FilterForm"></partial>
      </div>
   </div>
</div>
