﻿@model List<VinhUni.Dormitory.Models.Contract>
   @{
   Layout = null;
   }
   <div class="p-2 pl-3 border-bottom">
      <span style="font-size: 18px">Lịch sử thuê phòng</span>
   </div>
   <div class="table-responsive-xl">
      <table class="table table-hover table-md table-bordered">
         <thead class="bg-light">
            <tr>
               <th>#</th>
               <th>Họ</th>
               <th>Tên</th>
               <th>Ngày sinh</th>
               <th>CMND (Hộ chiếu)</th>
               <th>Số điện thoại</th>
               <th>Từ ngày</th>
               <th>Đến ngày</th>
            </tr>
         </thead>
         <tbody>
            @foreach(var item in Model){
            <tr>
               <td>1</td>
               <td>@item.Renter.Lastname</td>
               <td>@item.Renter.Firstname</td>
               <td>@item.Renter.DateOfBirth.ToString("dd/MM/yyyy")</td>
               <td>@item.Renter.IdentityCard</td>
               <td>@item.Renter.PhoneNumber</td>
               <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
               <td>@(item.ToDate != null ? item.ToDate.Value.ToString("dd/MM/yyyy"):
                  "")</td>
            </tr>
            }
         </tbody>
      </table>
   </div>