﻿@model List<VinhUni.Dormitory.Models.Payment>
   @{
   Layout = null;
   }
   <div class="p-2 pl-3 border-bottom">
      <span style="font-size: 18px">Lịch sử thanh toán</span>
   </div>
   <div class="pl-3 pr-3 pt-2 pb-2">
      @foreach(var item in Model){
      <span>@(item.Renter.Lastname + " " + item.Renter.Lastname)</span><span class="float-right">@item.DormitoryAmount
         VND <i>-
            @item.PaymentDate</i></span>
      <hr />
      }

   </div>