﻿@model List<VinhUni.Dormitory.Models.Contract>
   @{
   Layout = null;
   var Id = TempData["ID"];
   }
   <div class="p-2 pl-3 border-bottom">
      <span style="font-size: 18px">Danh sách đang ở</span>
      <a href="/dormitory/@Id/contract" class="btn btn-outline-primary btn-sm float-right"><i class="fa fa-plus"></i>
         Thêm
         hợp đồng</a>
   </div>
   <div class="table-responsive">
      <table class="table table-hover table-md table-bordered table-horizontal-1">
         <thead class="bg-light">
            <tr>
               <th>#</th>
               <th>Họ</th>
               <th>Tên</th>
               <th>Ngày sinh</th>
               <th>CMND (Hộ chiếu)</th>
               <th>Số điện thoại</th>
               <th>Ngày đến</th>
               <th>Thanh toán</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @foreach(var item in Model){
            <tr>
               <td>1</td>
               <td>@item.Renter.Lastname</td>
               <td>@item.Renter.Firstname</td>
               <td>@item.Renter.DateOfBirth.ToString("dd/MM/yyyy")</td>
               <td>@item.Renter.IdentityCard</td>
               <td>@item.Renter.PhoneNumber</td>
               <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
               <td class="text-center"><a href="/dormitory/@Id/payment/@item.Id" class="badge badge-success">Thanh
                     toán</a></td>
               <td class="text-center"><a href="/dormitory/@Id/checkout/@item.Id" class="badge badge-warning">Trả
                     phòng</a>
               </td>
            </tr>
            }
         </tbody>
      </table>
   </div>