﻿@model VinhUni.Dormitory.Models.Dormitory
@{
Layout = null;
}
<div class="p-2 pl-3 border-bottom">
   <span style="font-size: 18px">Thông tin phòng</span>
</div>
<div class="p-2">
   <div class="pl-3 pr-3 pt-2 pb-2">
      <span>Người quản lý:</span><span class="float-right">Administrator</span>
      <hr />
      <span>Trạng thái:</span>
      @if(Model.Status){
      <span class="badge btn-success float-right">Hoạt động</span>
      }else {
      <span class="badge btn-warning float-right">Đóng</span>
      }
      <hr />
      <span>Số giường:</span><span class="float-right">@Model.Beds</span>
      <hr />
      <span>Tiền phòng:</span><span class="float-right">@Model.RentCostPerMonth</span>
      <hr />
      <span>Giá điện:</span><span class="float-right">@Model.ElectricAmount</span>
      <hr />
      <span>Giá nước:</span><span class="float-right">@Model.WaterAmount</span>
      <hr />
   </div>