@model VinhUni.Dormitory.Models.Contract
@{
ViewData["Title"] = "Trả phòng";
TempData["BackUrl"] = "/dormitory/" + TempData["DormitoryId"] + "/view";
}

<div class="container">
    <div class="bg-white form-card pt-5">
        <div class="row">
            <div class="col-4">
                <span>Tên người thuê:</span>
            </div>
            <div class="col-8">
                @(Model.Renter.Lastname + " " + Model.Renter.Firstname)
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <span>Từ ngày:</span>
            </div>
            <div class="col-8">
                @Model.FromDate.ToString("dd/MM/yyyy")
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <span>Đến ngày:</span>
            </div>
            <div class="col-8">
                @(Model.ToDate != null ? Model.ToDate.Value.ToString("dd/MM/yyyy"): DateTime.Now.ToString("dd/MM/yyyy"))
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-6">
                <a href='@TempData["BackUrl"]' class="btn btn-block btn-danger btn-sm"><i class="fa fa-times"></i>
                    Hủy</a>
            </div>
            <div class="col-6">
                <a href='@("/dormitory/" + TempData["DormitoryId"] + "/checkout/" + @Model.Id + "/submit")'
                    class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i> Xác nhận</a>
            </div>
        </div>
    </div>
</div>