﻿@model VinhUni.Dormitory.Models.Dormitory
@{
ViewData["Title"] = "Tạo phòng";
TempData["BackUrl"] = "/";
var Categories = ViewData["DormitoryType"];
var Areas = ViewData["Area"];
}

<div class="container">
   <div class="bg-white form-card pt-5">
      <form asp-action="Create" method="post">
         <div class="row">
            <div class="col-6">
               <label asp-for="Name"></label>
               <input asp-for="Name" class="form-control" autocomplete="false" />
               <span asp-validation-for="Name"></span>
            </div>
            <div class="col-6">
               <label asp-for="DormitoryTypeId"></label>
               <select asp-for="DormitoryTypeId" class="form-control form-control-sm"
                  asp-items="@Categories as List<SelectListItem>">
               </select>
               <span asp-validation-for="DormitoryTypeId"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label asp-for="AreaId"></label>
               <select asp-for="AreaId" class="form-control form-control-sm" asp-items="@Areas as List<SelectListItem>">
               </select>
               <span asp-validation-for="AreaId"></span>
            </div>
            <div class="col-6">
               <label asp-for="Beds"></label>
               <input value="1" type="number" asp-for="Beds" class="form-control" autocomplete="false" />
               <span asp-validation-for="Beds"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label asp-for="RentCostPerMonth"></label>
               <input value="0" type="number" asp-for="RentCostPerMonth" class="form-control" autocomplete="false" />
               <span asp-validation-for="RentCostPerMonth"></span>
            </div>
            <div class="col-6">
               <label asp-for="ElectricAmount"></label>
               <input value="0" type="number" asp-for="ElectricAmount" class="form-control" autocomplete="false" />
               <span asp-validation-for="ElectricAmount"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label asp-for="WaterAmount"></label>
               <input value="0" type="number" asp-for="WaterAmount" class="form-control" autocomplete="false" />
               <span asp-validation-for="WaterAmount"></span>
            </div>
            <div class="col-6">
               <label asp-for="Status"></label>
               <select type="text" asp-for="Status" class="form-control">
                  <option value="true">Hoạt động</option>
                  <option value="false">Khóa</option>
               </select>
               <span asp-validation-for="Status"></span>
            </div>
         </div>
         <div class="row mt-4">
            <div class="col-6">
               <button type="reset" class="btn btn-block btn-danger btn-sm"><i class="fa fa-sync"></i> Làm mới</button>
            </div>
            <div class="col-6">
               <button class="btn btn-block btn-success btn-sm"><i class="fa fa-plus"></i> Thêm</button>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center mt-3">
               @if (@TempData["Error"] != null)
               {
               <div class="alert alert-danger" role="alert">
                  @TempData["Error"]
               </div>
               }
               @if (@TempData["Result"] != null)
               {
               <div class="alert alert-success" role="alert">
                  @TempData["Result"]
               </div>
               }
            </div>
         </div>
      </form>
   </div>
</div>