@model VinhUni.Dormitory.Models.NotMapped.PaymentModel
@{
ViewData["Title"] = "Tạo đợt thanh toán";
}
<div class="container">
    <div class="bg-white form-card pt-4">
        <form action="" method="post">
            <div class="row">
                <div class="col-12">
                    <label>Tên phòng</label>
                    <input readonly type="text" class="form-control form-control-sm" value="@Model.Dormitory.Name">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label asp-for="@Model.PaymentPeriod.Title"></label>
                    <input value="Test" type="text" class="form-control form-control-sm" name="Title">
                    <span asp-validation-for="@Model.PaymentPeriod.Title"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="@Model.PaymentPeriod.Month"></label>
                    <input value="1" type="number" min="1" max="12" class="form-control form-control-sm" name="Month">
                    <span asp-validation-for="@Model.PaymentPeriod.Month"></span>
                </div>
                <div class="col-6">
                    <label asp-for="@Model.PaymentPeriod.Year"></label>
                    <input value="2020" type="number" min="2020" max="2022" class="form-control form-control-sm"
                        name="Year">
                    <span asp-validation-for="@Model.PaymentPeriod.Year"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Giá phòng</label>
                    <input value="@Model.Dormitory.RentCostPerMonth" readonly class="form-control form-control-sm">
                </div>
                <div class="col-6">
                    <label asp-for="@Model.PaymentPeriod.TotalRenter"></label>
                    <input value="@Model.Dormitory.Contracts.Count(c => c.Status)" type="number"
                        class="form-control form-control-sm" name="TotalRenter">
                    <span asp-validation-for="@Model.PaymentPeriod.TotalRenter"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="@Model.PaymentPeriod.NumberOfElectricityMetersBefore"></label>
                    <input value="2500" type="number" class="form-control form-control-sm"
                        name="NumberOfElectricityMetersBefore">
                    <span asp-validation-for="@Model.PaymentPeriod.NumberOfElectricityMetersBefore"></span>
                </div>
                <div class="col-4">
                    <label asp-for="@Model.PaymentPeriod.NumberOfElectricityMeters"></label>
                    <input value="2600" type="number" class="form-control form-control-sm"
                        name="NumberOfElectricityMeters">
                    <span asp-validation-for="@Model.PaymentPeriod.NumberOfElectricityMeters"></span>
                </div>
                <div class="col-4">
                    <label>Giá điện</label>
                    <input value="2500" readonly class="form-control form-control-sm"
                        value="@Model.Dormitory.ElectricAmount">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="@Model.PaymentPeriod.NumberOfWaterMetersBefore"></label>
                    <input value="2500" type="number" class="form-control form-control-sm"
                        name="NumberOfWaterMetersBefore">
                    <span asp-validation-for="@Model.PaymentPeriod.NumberOfWaterMetersBefore"></span>
                </div>
                <div class="col-4">
                    <label asp-for="@Model.PaymentPeriod.NumberOfWaterMeters"></label>
                    <input value="2600" type="number" class="form-control form-control-sm" name="NumberOfWaterMeters">
                    <span asp-validation-for="@Model.PaymentPeriod.NumberOfWaterMeters"></span>
                </div>
                <div class="col-4">
                    <label>Giá nước</label>
                    <input value="2500" readonly class="form-control form-control-sm"
                        value="@Model.Dormitory.WaterAmount">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button type="reset" class="btn btn-block btn-sm btn-danger"><i class="fa fa-sync"></i> Làm
                        mới</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block btn-success btn-sm"><i class="fa fa-plus"></i> Thêm</button>
                </div>
            </div>
            <partial name="../Shared/_FormStatus.cshtml"></partial>
        </form>
    </div>
</div>