@model VinhUni.Dormitory.Models.Contract
@{
ViewData["Title"] = "Thêm hợp đồng";
var Renters = ViewData["Renters"];
}

<div class="container">
    <div class="bg-white form-card pt-5">
        <form asp-action="CreateContract" method="post">
            <div class="row">
                <div class="col-12">
                    <label asp-for="RenterId"></label>
                    <div class="input-group">
                        <select name="RenterId" class="form-control form-control-sm"
                            asp-items="@Renters as List<SelectListItem>">
                        </select>
                        <div class="input-group-append">
                            <a href="/renter/create" class="btn btn-primary btn-sm">Thêm người thuê</a>
                        </div>
                    </div>
                    <span asp-validation-for="RenterId"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="FromDate"></label>
                    <input type="date" class="form-control form-control-sm" name="FromDate">
                    <span asp-validation-for="FromDate"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ToDate"></label>
                    <input type="date" class="form-control form-control-sm" name="ToDate">
                    <span asp-validation-for="ToDate"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Deposit"></label>
                    <input type="number" class="form-control form-control-sm" name="Deposit">
                    <span asp-validation-for="Deposit"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Discount"></label>
                    <input type="number" class="form-control form-control-sm" name="Discount">
                    <span asp-validation-for="Discount"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button type="reset" class="btn btn-block btn-sm btn-danger"><i class="fa fa-sync"></i> Làm
                        mới</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block btn-success btn-sm"><i class="fa fa-plus"></i> Thêm</button>
                </div>
            </div>
            <partial name="../Shared/_FormStatus.cshtml"></partial>
        </form>
    </div>
</div>