@model VinhUni.Dormitory.Models.Renter
@{
ViewData["Title"] = "Thêm người thuê";
var RenterType = ViewData["RenterType"];
}

<div class="container">
    <div class="bg-white form-card pt-5">
        <form asp-action="CreateRenter" method="post">
            <div class="col-12">
                <div class="row">
                    <label>Loại người thuê:</label>
                    <select name="RenterTypeId" class="form-control form-control-sm"
                        asp-items="@RenterType as List<SelectListItem>">
                    </select>
                </div>
                <div class="row">
                    <label asp-for="Lastname"></label>
                    <input asp-for="Lastname" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Lastname"></span>
                </div>
                <div class="row">
                    <label asp-for="Firstname"></label>
                    <input asp-for="Firstname" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Firstname"></span>
                </div>
                <div class="row">
                    <label asp-for="DateOfBirth"></label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" autocomplete="false" />
                    <span asp-validation-for="DateOfBirth"></span>
                </div>
                <div class="row">
                    <label asp-for="IdentityCard"></label>
                    <input asp-for="IdentityCard" class="form-control" autocomplete="false" />
                    <span asp-validation-for="IdentityCard"></span>
                </div>
                <div class="row">
                    <label asp-for="Passport"></label>
                    <input asp-for="Passport" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Passport"></span>
                </div>
                <div class="row">
                    <label asp-for="StaffId"></label>
                    <input asp-for="StaffId" class="form-control" autocomplete="false" />
                    <span asp-validation-for="StaffId"></span>
                </div>
                <div class="row">
                    <label asp-for="StudentId"></label>
                    <input asp-for="StudentId" class="form-control" autocomplete="false" />
                    <span asp-validation-for="StudentId"></span>
                </div>
                <div class="row">
                    <label asp-for="Address"></label>
                    <textarea asp-for="Address" class="form-control" autocomplete="false"></textarea>
                    <span asp-validation-for="Address"></span>
                </div>
                <div class="row">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="false" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="row">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button type="reset" class="btn btn-block btn-sm btn-danger"><i class="fa fa-sync"></i> Làm
                        mới</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block btn-success btn-sm"><i class="fa fa-plus"></i> Thêm</button>
                </div>
            </div>
            <partial name="../Shared/_FormStatus.cshtml"></partial>
        </form>
    </div>
</div>