@model VinhUni.Dormitory.Models.NotMapped.DormitoryModel
@{
ViewData["Title"] = TempData["Name"];
TempData["BackUrl"] = "/";
var Id = TempData["ID"];
}

<div class="row p-3">
    <div class="col-12 form-group text-right">
        <a href="/dormitory/@Id/createpaymentperiod" class="btn btn-primary btn-sm mr-2 text-white"><i
                class="fa fa-notes-medical"></i> Tạo đợt thanh toán</a>
        <!-- <a href="/dormitory/@Id/setting" class="btn btn-primary btn-sm float-right text-white"><i class="fa fa-cog"></i>
            Cài đặt phòng</a> -->
    </div>
    <div class="col-md-9 p-2">
        <div class="bg-white box-shadow border-radius">
            <partial name="_RenterList" model="@Model.Contracts" />
        </div>
        <div class="bg-white box-shadow border-radius mt-4">
            <partial name="_History" model="@Model.Histories" />
        </div>
    </div>
    <div class="col-md-3 p-2">
        <div class="bg-white box-shadow border-radius">
            <partial name="_Report" model="@Model.Dormitory" />
        </div>
        <div class="bg-white box-shadow border-radius mt-4">
            <partial name="_PaymentHistory" model="@Model.PaymentHistories" />
        </div>
    </div>
</div>