@model VinhUni.Dormitory.Models.NotMapped.PaymentModel
@{
ViewData["Title"] = "Thanh toán";
TempData["BackUrl"] = "/dormitory/" + TempData["DormitoryId"] + "/view";
var i = 1;
}

<div class="container">
    <div class="bg-white form-card pt-5">
        <div class="mb-5">
            <h5>Chưa thanh toán:</h5>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên đợt TT</th>
                        <th>Tháng</th>
                        <th>Năm</th>
                        <th>Tiền phòng</th>
                        <th>Tiền điện</th>
                        <th>Tiền nước</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.PaymentPeriods){
                    <tr>
                        <td>@i</td>
                        <td>@item.Title</td>
                        <td>@item.Month</td>
                        <td>@item.Year</td>
                        <td>@Math.Round(item.TotalAmount / item.TotalRenter, 2)</td>
                        <td>@Math.Round(item.TotalElectricBill / item.TotalRenter, 2)</td>
                        <td>@Math.Round(item.TotalWaterBill / item.TotalRenter, 2)</td>
                        <td>@Math.Round((item.TotalAmount + item.TotalElectricBill + item.TotalWaterBill) /
                            item.TotalRenter, 2)
                        </td>
                        <td class="text-center">
                            <a href="" class="badge badge-success">Thanh
                                toán</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- <div>
            <h5>Đã thanh toán:</h5>
            <hr>
        </div> -->
        <partial name="../Shared/_FormStatus.cshtml"></partial>
    </div>
</div>