﻿@{
ViewData["Title"] = "Cài đặt phòng";
}
<div class="container">
   <div class="bg-white form-card pt-4">
      <form action="" method="post">
         @Html.AntiForgeryToken()
      </form>
   </div>
</div>