﻿body {
   font-family: 'Roboto', sans-serif;
   background-color: #E9EBEE;
   font-size: 14px;
   overflow-x: hidden;
}

.payment-period-item {
   padding: 10px;
   border: 1px solid #eee;
   transition: 0.2s ease;
   -webkit-transition: 0.2s ease;
   -moz-transition: 0.2s ease;
   -ms-transition: 0.2s ease;
   -o-transition: 0.2s ease;
}

.payment-period-item:hover {
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.item-simple {
   cursor: pointer;
   border: 1px solid #f3f4f5;
   background-color: #f3f4f5;
   padding: 7px 10px;
   margin-bottom: 5px;
   transition: 0.2s ease;
   -webkit-transition: 0.2s ease;
   -moz-transition: 0.2s ease;
   -ms-transition: 0.2s ease;
   -o-transition: 0.2s ease;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.item-simple:hover {
   background-color: #f3f4f5;
   box-shadow: 0px 2px 0px 0px rgba(104, 104, 104, 0.55);
}

.link-clear {
   color: #333333;
   text-decoration: unset;
}

.link-clear:hover {
   color: #333333;
   text-decoration: unset;
}

.table-horizontal-1 {
   min-width: 1000px;
}

.table-horizontal-2 {
   min-width: 1200px;
}

.table-horizontal-3 {
   min-width: 1300px;
}

.table-horizontal-4 {
   min-width: 1400px;
}

.table-horizontal-5 {
   min-width: 1500px;
}

.table-horizontal-6 {
   min-width: 1600px;
}

.table-responsive .table,
.table-responsive-sm .table,
.table-responsive-md .table,
.table-responsive-lg .table,
.table-responsive-xl .table {
   margin-bottom: 0;
}

header {
   background-color: #fff;
   box-shadow: 0 0 5px 5px #000000;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, .08);
   position: relative
}

button.badge {
   border: 0;
   border-radius: 0;
   padding: 5px;
}

hr {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.back-url {
   text-decoration: none !important;
}

main[role="main"] {
   margin-bottom: 100px;
}

.box-shadow {
   box-shadow: 0 0 5px 5px #000000;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, .02);
}

.border-radius {
   border-radius: 5px;
}

.app-menu {
   width: fit-content;
   overflow-x: auto;
   position: fixed;
   left: 0;
   right: 0;
   max-width: 60vw;
   margin: auto;
   bottom: 10px;
   background-color: #fff;
   box-shadow: 0 0 10px 5px #000000;
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   padding: 0 25px;
   text-align: center;
}

.app-menu .menu-item {
   text-decoration: none;
   transition: 0.3s ease;
   cursor: pointer;
   padding: 8px 10px 6px 10px;
   display: inline-block;
   font-size: 14px;
   min-width: 100px;
   color: #333;
}

.app-menu .menu-item i {
   display: block;
   font-size: 24px;
   margin-bottom: 2px;
}

.app-menu .menu-item:hover {
   background-color: #eee;
}

.app-menu .menu-item.active {
   background-color: #0062CC;
   color: #fff;
}

.app-header span {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
   justify-content: center;
}

.app-header a {
   cursor: pointer;
   float: left;
   margin-left: 15px;
   font-size: 16px;
}

.table.table-md th,
.table.table-md td {
   padding: 0.55rem 0.75rem;
   font-size: 14.5px;
}

.form-card {
   margin-left: 10%;
   margin-right: 10%;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 3%;
   padding-bottom: 3%;
}

.field-validation-error {
   font-size: 13px;
   color: orangered;
   font-style: italic;
}


.home-app {
   padding: 15px;
}

.home-menu {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 10px 5px #000000;
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.01);
   height: 100%;
}

.dormitory-item {
   color: #333;
   display: block;
   text-align: center;
   padding: 15px;
   background-color: #fff;
   margin-bottom: 20px;
   border-radius: 5px;
   box-shadow: 0 0 5px 5px #000000;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.01);
   min-height: 176px;
   position: relative;
   transition: 0.3s linear;
   cursor: pointer;
}

.dormitory-item .home-icon {
   font-size: 50px;
   position: absolute;
   top: 35%;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.dormitory-item .quick-view {
   position: absolute;
   bottom: 10px;
   left: 0;
   display: block;
   color: #888;
   right: 0;
}

.dormitory-item .dormitory-title {
   text-decoration: none;
   top: 15px;
   font-size: 18px;
   left: 0;
   right: 0;
}

.dormitory-item:hover {
   color: #333;
   box-shadow: 0 0 10px 5px #000000;
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
   /*background-color: #f6f7f8;*/
}