﻿@model List<VinhUni.Dormitory.Models.Category>
@{
Layout = null;
}
<div class="card">
   <div class="card-header">
      Loại phòng
   </div>
   <div class="card-body">
      @foreach (var item in Model)
      {
         var link = "/dormitorytype/" + item.Id + "/edit/";
         <a class="link-clear" href="@link">
         <div class="item-simple">
            <b>@item.Name</b> (<b>@item.Symbol</b>)
            <br>
            <i>Type: @item.Type</i>
            <span class="float-right">@if(item.Status == true){
                <span class="badge badge-success">Hoạt động</span>
               } else {
                    <span class="badge badge-dange">Đóng</span>
               }</span>
         </div>
         </a>
      }
   </div>
   <div class="card-footer">
      <a href="/system/createdormitorytype" class="btn btn-sm btn-primary ml-auto text-white">Thêm</a>
   </div>
</div>