@model List<VinhUni.Dormitory.Models.RenterType>
    @{
    Layout = null;
    }
    <div class="card">
        <div class="card-header">
            Loại người thuê
        </div>
        <div class="card-body">
            @foreach (var item in Model)
            {
            var link = "/rentertype/" + item.Id + "/edit/";
            <a class="link-clear" href="@link">
                <div class="item-simple">
                    <b>@item.Name</b>   
                    <br>
                    <i>Discount: @item.Discount</i>
                    <span class="float-right">@if(item.Status == true){
                        <span class="badge badge-success">Hoạt động</span>
                        } else {
                        <span class="badge badge-dange">Đóng</span>
                        }</span>
                </div>
            </a>
            }
        </div>
        <div class="card-footer">
            <a href="/system/createrentertype" class="btn btn-sm btn-primary ml-auto text-white">Thêm</a>
        </div>
    </div>