@model VinhUni.Dormitory.Models.RenterType
@{
ViewData["Title"] = "Tạo loại người thuê";
TempData["BackUrl"] = "/system";
}

<div class="container">
    <div class="bg-white form-card pt-5">
        <form asp-action="CreateRenterType" method="post">
            <div class="row">
                <div class="col-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Discount"></label>
                    <input asp-for="Discount" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Discount"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <!-- <label asp-for="Level"></label>
               <input type="number" value="0" asp-for="Level" class="form-control" autocomplete="false" />
               <span asp-validation-for="Level"></span> -->
                </div>
                <div class="col-6">
                    <label asp-for="Status"></label>
                    <select class="form-control form-control-sm">
                        <option value="true">Hoạt động</option>
                        <option value="false">Khóa</option>
                    </select>
                    <span asp-validation-for="Status"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <button type="reset" class="btn btn-block btn-sm btn-danger"><i class="fa fa-sync"></i> Làm
                        mới</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block btn-success btn-sm"><i class="fa fa-plus"></i> Thêm</button>
                </div>
            </div>
            <partial name="../Shared/_FormStatus.cshtml"></partial>
        </form>
    </div>
</div>