﻿@model VinhUni.Dormitory.Models.SystemModel

@{
ViewData["Title"] = "Cài đặt hệ thống";
}
<div class="home-app">
   <div class="form-row">
      <div class="col-4">
         @await Html.PartialAsync("_DormitoryType", Model.DormitoryTypes)
      </div>
      <div class="col-4">
         @await Html.PartialAsync("_Area", Model.Areas)
      </div>
      <div class="col-4">
         @await Html.PartialAsync("_RenterType", Model.RenterTypes)
      </div>
   </div>
</div>