﻿@model VinhUni.Dormitory.Models.User
@{
   ViewData["Title"] = "Chỉnh sửa người dùng";
   TempData["BackUrl"] = "/user";
}
<div class="container">
   <div class="bg-white form-card pt-4">
      <a href="/user/@Model.Id/delete" class="btn btn-danger btn-sm float-right"><i class="fa fa-times"></i> Xóa người dùng</a>
      <br/>
      <br/>
      <hr />
      <form action="/user/@Model.Id/edit" method="post">
         <div class="row">
            <div class="col-6">
               <label asp-for="Username"></label>
               <input asp-for="Username" class="form-control" />
               <span asp-validation-for="Username"></span>
            </div>
            <div class="col-6">
               <label asp-for="Password"></label>
               <input type="password" asp-for="Password" class="form-control" />
               <span asp-validation-for="Password"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label asp-for="Firstname"></label>
               <input asp-for="Firstname" class="form-control" />
               <span asp-validation-for="Firstname"></span>
            </div>
            <div class="col-6">
               <label asp-for="Lastname"></label>
               <input asp-for="Lastname" class="form-control" />
               <span asp-validation-for="Lastname"></span>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label asp-for="RoleId"></label>
               <select class="form-control" asp-for="RoleId" asp-items="@ViewData["Role"] as List<SelectListItem>">
               </select>
               <span asp-validation-for="RoleId"></span>
            </div>
            <div class="col-6">
               <label asp-for="Status"></label>
               <select class="form-control" asp-for="Status">
                  <option value="true">Hoạt động</option>
                  <option value="false">Khóa</option>
               </select>
               <span asp-validation-for="Status"></span>
            </div>
         </div>
         <br/>
         <hr />
         <div class="row mt-4">
            <div class="col-6">
               <button type="reset" class="btn btn-block btn-danger"><i class="fa fa-sync"></i> Làm mới</button>
            </div>
            <div class="col-6">
               <button class="btn btn-block btn-success"><i class="fa fa-check"></i> Cập nhật</button>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center mt-3">
               @if (@TempData["Error"] != null)
               {
                  <div class="alert alert-danger" role="alert">
                     @TempData["Error"]
                  </div>
               }
               @if (@TempData["Success"] != null)
               {
                  <div class="alert alert-success" role="alert">
                     @TempData["Success"]
                  </div>
               }
            </div>
         </div>
         @Html.AntiForgeryToken()
      </form>
   </div>
</div>