﻿@model VinhUni.Dormitory.Models.NotMapped.PagedResult<VinhUni.Dormitory.Models.User>
@{
   ViewData["Title"] = "Quản lý người dùng";
   var index = 0;
}
@section Styles {
   <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
}
@section Scripts{
   <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
   <script>
      $(function () {
         $('.toggle-status').bootstrapToggle();
      });
      $('.toggle-status').change(function () {
         const id = $(this).attr("data-id");
         $.ajax({
            type: "GET",
            url: `/user/${id}/status`
         });
      });
   </script>
}
<div class="bg-white">
   <div class="p-2">
      <a href="/user/create" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Thêm người dùng</a>
   </div>
   <table id="main-table" class="table table-hover table-md table-bordered">
      <thead class="bg-primary text-white">
         <tr>
            <th>#</th>
            <th>Tên đăng nhập</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Quyền hạn</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model.Data)
         {
            <tr>
               <td>@(index += 1)</td>
               <td>@item.Username</td>
               <td>@(item.Lastname ?? "...")</td>
               <td>@(item.Firstname ?? "...")</td>
               <td>@item.Role?.Name</td>
               <td>@item.CreatedDate</td>
               <td>
                  <input type="checkbox" class="toggle-status" data-id="@item.Id" checked="@item.Status" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="success" data-offstyle="danger" data-size="xs">
               </td>
               <td class="text-center"><a href="/user/@item.Id/edit" title="Chỉnh sửa"><i class="fa fa-edit"></i></a></td>
            </tr>
         }
      </tbody>
   </table>
   <div class="p-2">
      <ul class="pagination pagination-sm justify-content-end">
         <li class="page-item">
            <a class="page-link" href="/user?page=@(Model.Page == 1 ? 1 : Model.Page - 1)&size=@Model.Size">Trước</a>
         </li>
         @for (var i = 1; i <= Model.TotalPage; i++)
         {
            <li class="page-item @(Model.Page == i ? "active" : "")">
               <a class="page-link" href="/user?page=@i&size=@Model.Size">@i</a>
            </li>
         }
         <li class="page-item">
            <a class="page-link" href="/user?page=@(Model.TotalPage == @Model.Page ? @Model.TotalPage : Model.Page + 1)&size=@Model.Size">Sau</a>
         </li>
      </ul>
   </div>
</div>