﻿@model VinhUni.Dormitory.Models.NotMapped.ChangePasswordModel
@{
   Layout = null;
}
<div class="card m-3">
   <div class="card-header">
      Đổi mật khẩu
   </div>
   <div class="card-body">
      <form asp-controller="Account" asp-action="ChangePassword">
         <label asp-for="OldPassword"></label>
         <input asp-for="OldPassword" class="form-control form-control-sm" />
         <hr />
         <label asp-for="Password"></label>
         <input asp-for="Password" class="form-control form-control-sm" />
         <label asp-for="RePassword"></label>
         <input asp-for="RePassword" class="form-control form-control-sm" />
         <hr />
         <div class="form-inline">
            <button type="submit" class="btn btn-success btn-sm">Lưu</button>
         </div>
         <div class="row">
            <div class="col-12 text-center mt-3">
               @if (@TempData["Result"] != null)
               {
                  <div class="alert alert-success" role="alert">
                     @TempData["Result"]
                  </div>
               }
               @if (@TempData["Error"] != null)
               {
                  <div class="alert alert-danger" role="alert">
                     @TempData["Error"]
                  </div>
               }
            </div>
         </div>
      </form>
   </div>
</div>