﻿@model VinhUni.Dormitory.Models.User
@{
   Layout = null;
}
<div class="card m-3">
   <div class="card-header">
      Thông tin tài khoản
   </div>
   <div class="card-body">
      <form asp-controller="Account" asp-action="ChangeInformation">
         <label asp-for="Username"></label>
         <input asp-for="Username" class="form-control form-control-sm" readonly />
         <hr />
         <label asp-for="Firstname"></label>
         <input asp-for="Firstname" class="form-control form-control-sm" />
         <label asp-for="Lastname"></label>
         <input asp-for="Lastname" class="form-control form-control-sm" />
         <hr />
         <div class="form-inline">
            <button type="submit" class="btn btn-success btn-sm">Lưu</button>
         </div>
         <div class="row">
            <div class="col-12 text-center mt-3">
               @if (@TempData["ResultInformation"] != null)
               {
                  <div class="alert alert-success" role="alert">
                     @TempData["ResultInformation"]
                  </div>
               }
               @if (@TempData["ErrorInformation"] != null)
               {
                  <div class="alert alert-danger" role="alert">
                     @TempData["ErrorInformation"]
                  </div>
               }
            </div>
         </div>
      </form>
   </div>
</div>