﻿@model VinhUni.Dormitory.Models.NotMapped.LoginModel
@{
   ViewData["Title"] = "Đăng nhập";
   Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"]</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <style>
      body {
         font-family: 'Roboto Condensed', sans-serif;
         background-color: #E9EBEE;
      }
   </style>
</head>
<body>
   <div class="container text-center p-5">
      <img src="images/logo.png" width="155" alt="Vinh University" />
      <br />
      <br />
      <span>Để lấy lại mật khẩu, vui lòng liện hệ quản trị viên của hệ thống!</span>
      <br />
      <br />
      <a class="btn btn-primary btn-sm" href="/login">Về trang chủ</a>
   </div>
</body>
</html>