﻿@model VinhUni.Dormitory.Models.NotMapped.AccountModel
@{
   ViewData["Title"] = "Quản lý tài khoản";
}
<div class="row">
   <div class="col-6">
      @await Html.PartialAsync("_ChangeInformation", Model.User)
   </div>
   <div class="col-6">
      @await Html.PartialAsync("_ChangePassword", Model.ChangePassword)
   </div>
</div>

