﻿@model VinhUni.Dormitory.Models.NotMapped.LoginModel
@{
   ViewData["Title"] = "Đăng nhập";
   Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"]</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <style>
      body {
         background-color: #E9EBEE;
      }

      .field-validation-error {
         font-size: 13px;
         color: orangered;
         font-style: italic;
      }

      .login-container {
         padding: 0 10%;
         font-family: 'Roboto Condensed', sans-serif;
         margin-top: 5%;
         margin-bottom: 5%;
      }

      .login-form {
         background-color: #fff;
         padding: 5% 0;
         box-shadow: 0 5px 8px 0 #000000, 0 9px 26px 0 #000000;
         box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
      }

         .login-form h3 {
            color: #333;
         }

      .login-backdrop {
         color: #fff;
         text-align: center;
         padding: 5% 0;
         background: #0062cc;
         box-shadow: 0 5px 8px 0 #000000, 0 9px 26px 0 #000000;
         box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
      }

      .login-container form {
         padding: 10%;
      }

      .btn-submit {
         width: 50%;
         border-radius: 1rem;
         padding: 1.5%;
         border: none;
         cursor: pointer;
      }

      .login-form .btn-submit {
         font-weight: 600;
         color: #fff;
         background-color: #0062cc;
      }

      .login-form .forget-pwd {
         color: #0062cc;
         text-decoration: none;
      }
   </style>
</head>
<body>
   <div class="container login-container">
      <div class="row">
         <div class="col-md-6 login-form">
            <form asp-controller="Account" asp-action="Login" method="post" onsubmit="loginSubmit()">
               <h3>ĐĂNG NHẬP</h3>
               <br />
               <div class="form-group">
                  <input type="text" asp-for="Username" class="form-control" placeholder="Tên đăng nhập *" autofocus tabindex="1" />
                  <span asp-validation-for="Username"></span>
               </div>
               <div class="form-group">
                  <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu *" tabindex="2" />
                  <span asp-validation-for="Password"></span>
               </div>
               <div class="form-group text-center">
                  <button type="submit" id="button-submit" class="btn btn-primary btn-block" tabindex="3">ĐĂNG NHẬP</button>
                  <span class="field-validation-error">@TempData["ErrorMessage"]</span>
               </div>
               <div class="form-group">
                  <a href="/forgot-password" class="forget-pwd">Quên mật khẩu?</a>
               </div>
            </form>
         </div>
         <div class="col-md-6 login-backdrop">
            <img src="images/logo.png" width="155" alt="Vinh University" />
            <br />
            <br />
            <br />
            <h3>TRƯỜNG ĐẠI HỌC VINH</h3>
            <h4>Quản lý ký túc xá</h4>
         </div>
      </div>
   </div>
   <script>
      function loginSubmit() {
         const buttonSubmit = document.querySelector("#button-submit");
         buttonSubmit.disabled = true;
         buttonSubmit.innerHTML = '<i class="fa fa-spinner-third fa-spin"></i>';
      }
   </script>
</body>
</html>