﻿@{
    Layout= null;
}
<div class="row">
            <div class="col-12 text-center mt-3">
               @if (@TempData["Error"] != null)
               {
                  <div class="alert alert-danger" role="alert">
                     @TempData["Error"]
                  </div>
               }
               @if (@TempData["Success"] != null)
               {
                  <div class="alert alert-success" role="alert">
                     @TempData["Success"]
                  </div>
               }
            </div>
         </div>