﻿@{
var controller = ViewContext.RouteData.Values["Controller"];
var isHome = controller.ToString().ToLower() == "home" ? "active" : "";
var isReport = controller.ToString().ToLower() == "report" ? "active" : "";
var isAccount = controller.ToString().ToLower() == "account" ? "active" : "";
var isUser = controller.ToString().ToLower() == "user" ? "active" : "";
var isSetting = controller.ToString().ToLower() == "system" ? "active" : "";
}
<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"]</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link rel="stylesheet" href="~/css/site.css" />
   @RenderSection("Styles", required: false)
</head>

<body>
   <header class="app-header text-center pt-3 pb-3">
      @if (TempData["BackUrl"] != null)
      {
      <a href='@TempData["BackUrl"]' class="pt-1 back-url"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Quay lại</a>
      }
      <span>@ViewData["Title"]</span>
   </header>
   <main role="main">
      @RenderBody()
   </main>
   <footer class="app-menu">
      <a class="menu-item @isHome" asp-controller="Home" asp-action="Index">
         <i class="fa fa-hotel"></i>
         <span>Trang chủ</span>
      </a>
      <a class="menu-item @isReport" href="/report">
         <i class="fa fa-chart-bar"></i>
         <span>Báo cáo</span>
      </a>
      <a class="menu-item @isUser" href="/user">
         <i class="fa fa-users"></i>
         <span>Người dùng</span>
      </a>
      <a class="menu-item @isSetting" href="/system">
         <i class="fa fa-cog" href="/s"></i>
         <span>Hệ thống</span>
      </a>
      <a class="menu-item @isAccount" href="/account">
         <i class="fa fa-user"></i>
         <span>Tài khoản</span>
      </a>
      <a class="menu-item" asp-controller="Account" asp-action="SignOut">
         <i class="fa fa-sign-out"></i>
         <span>Đăng xuất</span>
      </a>
   </footer>

   <script src="~/lib/jquery/dist/jquery.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>

   @RenderSection("Scripts", required: false)
</body>

</html>